@import "_mixins/font-face";

@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');